.container {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.main {
    min-height: 80vh;
    flex: 1;
    margin: 10px 0px;
}

.blogItem h3 {
    cursor: pointer;
}

.blogItem p {
    max-width: 45vw;
}

.btn {
    background-color: rgb(77, 74, 74);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.7rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}