.container {
    max-width: 45vw;
    margin: auto;
}

.mb3 {
    margin-bottom: 22px;
}

.formlabel {
    font-size: 14px;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.formText {
    font-size: 14px;
    font-weight: bold;
}